/* Zdefiniowanie wygladu tytlow sekcji */
.sectionTitle {
  color: var(--lochinvar);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  text-align: left;
  margin-left: 50px;
}
